
<hr><hr>
	<div style="display:flex;">
		<div style="width:40%;">
			<div ui-tree="vm.treeOptions" id="tree-root">
		      <ol ui-tree-nodes ng-model="vm.list">
		        <li ng-repeat="node in vm.list" ui-tree-node ng-include="'./views/node_template.html'"></li>
		      </ol>
		    </div>
		</div>
		<div style="flex-grow: 0.5"></div>
		<div style="display:flex; flex-direction: column;height:100%;">
		    <pre contenteditable style="height:300px;overflow-y:scroll; ">{{vm.distortedText |json}}</pre>
		    <pre style="flex-grow:1;overflow-y:scroll;" >{{vm.mySlots | json}}</pre>
		</div>    
	</div>