<div ui-tree-handle class="tree-node tree-node-content" ng-class = "{'tree-node-content-selected' : node.id === vm.selectedSlot} "  >
    
    <a class="btn btn-default btn-xs" ng-if="node.isDirectory" data-nodrag ng-click="vm.toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-folder-close': collapsed,
          'glyphicon-folder-open': !collapsed
        }"></span></a>
    
         <a class="btn btn-default btn-xs" ng-if="!node.isDirectory" data-nodrag ><span
        class="glyphicon glyphicon-file" ng-click="vm.setSelectedSlot(this)"
        ></span></a>

<a href="#"   >
    <span name-giver   id ="treeitem{{node.id}}"  >{{node.title}}</span>
</a>

    <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="vm.changeName(this)"><span
        class="glyphicon glyphicon-pencil"></span></a>
    <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="vm.remove(this)"><span
        class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="vm.newSubitem(this)" style="margin-right: 8px;">
      <span  class="glyphicon glyphicon-plus"></span></a>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
  <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'./views/node_template.html'" >
  </li>
</ol> 